.card{
  max-width: 1200px;
  margin: auto;
  padding: 40px 10px;
}

.text_card_header{
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 40px 10px 80px 10px;
}

.card_top{
  padding: 0 100px;
  display: flex;
  gap: 20px;
}

.card_recomendacion{
  display: flex;
  border: 1px solid #d4cbc7;
}

.card_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 50%;
}

.card_p{
  font-size: 1rem;
}

.card_video{
  width: 50%;
}

.video{
  width: 100%;
}