.encabezado_drink {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -2px;
}

.container_drink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 10px;
  width: 100%;
}

.container_text {
  width: 25%;
  text-align: center;
}

.container_coctel {
  width: 50%;
  display: block;
}

.v360-menu-btns,
.v360-image-container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.container_paragraphs {
  text-align: center;
  margin: auto;
  width: 60%;
}

.paragraphs_text {
  font-family: "Georgia", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-style: italic;
}

.paragraphs_span {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -2px;
}

.paragraphs_p {
  font-family: "Georgia", sans-serif;
  line-height: 1.55;
  font-weight: 400;
  padding: 18px 0;
  font-size: 18px;
}
