.container_footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000;
  color: #fff;
  gap: 15px;
  padding: 50px;
}

.footer_logo {
  width: 250px;
}

li {
  list-style: none;
  padding: 5px 0;
}

.span_more{
  color: #999999;  
  font-weight: 700;
  font-size: 1.1rem;
  padding: 5px 0;
  display: block;
}

.link_footer,
.correo_redes {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}

.correo_redes,
.container_redes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon_redes{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  margin: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.link_footer:hover,
.correo_redes:hover,
.icon_redes:hover{
  color: #644801;
}

@media screen and (max-width: 480px){
  .container_footer {
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer_logo {
    width: 175px;
  }
  .container_logo,
  .more-info,
  .redes{
    padding: 5px 0;
  }

}