.container_footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000;
  color: #fff;
  padding: 50px 100px;
}

.footer_logo {
  width: 250px;
}

li {
  list-style: none;
  padding: 5px 0;
}

.span_more{
  color: #999999;  
  font-weight: 700;
  font-size: 1.1rem;
  padding: 5px 0;
  display: block;
}

.link_footer,
.correo_redes {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}


.icon_redes{
  font-size: 1.8rem;
  margin: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}