.container_menu {
  background-color: #faead5;
  width: 100%;
  height: 400px;
  background-image: url(/menu.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  margin: 40px 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .container_menu {
    background-position: 85% center;
  }
  .t_menu {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .container_menu {
    background-position: 64% center;
  }
  .t_menu {
    width: auto;
  }
}
