.container_menu{
  width: 100%;
  height: 400px;
  background-image: url(/menu.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  margin: 40px 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}