.container_playlist {
  background-image: url(/background.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 100%;
  display: flex;
  padding: 40px 20px 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.playlist_text {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.playlist_encabezado {
  font-size: 2rem;
  text-transform: uppercase;
}

.span_playlist{
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.link_plataforma {
  display: flex;
}

.link_playlist {
  text-decoration: none;
  color: #5e5e5e;
  background-color: #fff;
  margin: 20px 10px;
  border-radius: 40px;
  padding: 20px 50px;
  text-align: center;
  font-size: 1.05rem;
  font-weight: 700;
}

.link_playlist:hover {
  background-color: #f0f0f0;
}

.container_img {
  width: 250px;
  margin: 0 100px;
  display: flex;
}

.img_playlist {
  width: 100%;
}
