.container_revervar{
  padding: 40px 10px;
  text-align: center;
}

.container_reservas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.container_horario,
.container_reserva,
.container_maps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.icon_reserva{
  font-size: 40px;
  color: #ceac7d;
}

.span_reserva{
  font-weight: bold;
  padding: 10px 0;
}

.p_reserva{
  padding: 5px 0;
}